@import url(https://fonts.googleapis.com/css?family=Lato:400, 900);

body {
  font-family: "Lato", sans-serif;
  padding: 20px;
}
h1 {
  font-weight: 900;
  font-size: 60px;
}

.holiday {
  display: block;
  padding: 10px;
  border: 1px solid #ccc;
  margin: 0 0 10px 0;
  text-decoration: none;
  color: black;
}
.holiday :hover {
  background: #eee;
}
.holiday span {
  margin: 0 2px;
}
.holiday span:first-child {
  font-weight: 900;
}
