.holiday {
  display: block;
  text-decoration: none;
  color: black;
  background: #eee;
}

.holiday:hover {
  background: rgb(248, 165, 12);
}

.holiday span {
  margin: 0 2px;
}

/* .holiday span:first-child {
  font-weight: 900;
} */

.synchronize-btn:hover {
  cursor: pointer;
}
