@import url(https://fonts.googleapis.com/css?family=Lato:400,900);

body {
  font-family: "Lato", sans-serif;
  padding: 20px;
}

h1 {
  font-weight: 900;
  font-size: 60px;
}

.holiday {
  display: block;
  text-decoration: none;
  color: black;
  background: #eee;
}

.holiday:hover {
  background: rgb(248, 165, 12);
}

.holiday span {
  margin: 0 2px;
}

.holiday span:first-child {
  font-weight: 900;
}

.synchronize-btn:hover {
  cursor: pointer;
}
