.container {
  padding: 20px;
}

.holiday {
  display: block;
  text-decoration: none;
  color: black;
  background: #eee;
}

.holiday:hover {
  background: rgb(248, 165, 12);
}

.holiday span {
  margin: 0 2px;
}

/* .holiday span:first-child {
  font-weight: 900;
} */

.synchronize-btn:hover {
  cursor: pointer;
}

.cards-list {
  z-index: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.card {
  margin: 30px auto;
  width: 500px;
  height: 70vh;
  border-radius: 40px;
  cursor: pointer;
  transition: 0.4s;
}

.card .card_image {
  width: inherit;
  height: inherit;
  border-radius: 40px;
}

.card .card_image img {
  width: inherit;
  height: inherit;
  border-radius: 40px;
  object-fit: cover;
}

.card .card_title {
  text-align: center;
  border-radius: 0px 0px 40px 40px;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 30px;
  margin-top: -65vh;
  height: 40px;
}

.card:hover {
  transform: scale(0.9, 0.9);
  box-shadow: 5px 5px 30px 15px rgba(0, 0, 0, 0.25),
    -5px -5px 30px 15px rgba(0, 0, 0, 0.22);
}

.title-white {
  color: white;
}

.title-black {
  color: black;
}

.card-text {
  padding: 10px;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  margin-bottom: 1em;
  text-align: center;
}

.refash-btn {
  padding-top: 2vh;
}

@media screen and (max-width: 992px) {
  .card {
    width: 300px;
    height: 60vh;
  }

  .card .card_title {
    margin-top: -55vh;
  }
}

@media screen and (max-width: 576px) {
  .card-list {
    /* On small screens, we are no longer using row direction but column */
    flex-direction: column;
  }

  /* .card {
    height: 55vh;
  } */

  /* .card .card_title {
    margin-top: -50vh;
  } */

  .refash-btn {
    padding-top: 3vh;
  }
}
