@import url(https://fonts.googleapis.com/css?family=Lato:400,900);

h1 {
  font-weight: 900;
  font-size: 60px;
}

body {
  font-family: "Lato", sans-serif;
  background-color: rgb(255, 60, 11);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.update-notification {
  background-color: #222;
  color: #fff;
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  padding: 0.8em 1.2em;
  text-decoration: none;
  z-index: 99;
}
